body {
    background: url('../data/background.fw.png') fixed center no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main, .footer{
    display: flex;
    flex-direction: row;
}

.main {
    align-items: center;
    flex: 1 1 auto;
}

.nav-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
}

.footer {
    flex: 0 1 auto;
}

.left, .center, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.left, .right {
    flex: 0.45;
    height: 100%;
}

.center {
    flex: 0.1;
}

.left {
    padding-left: 40px;
    text-align: left;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.img-button:hover {
    cursor: pointer;
}

@media (max-width: 767px) { 

    body {
        background: none;
    }

    .main, .footer{
        flex-direction: column;
    }

    .left {
        padding-left: 20px;
        background: #FCC129;
    }

    .center, .right {
        background: #1452C2;
        width: 100%;
    }

}

@media (max-width: 480px){
    .row {
        flex-direction: column;
    }

    .form-control {
        margin-right: 0px !important;
        margin-bottom: 20px;
    }
}