.form-control {
    padding: 10px;
    margin-right: 20px;
}

.loginForm {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[name="username"] {
    min-width: 300px;
}

.submit-button {
    background-color: #B56B07;
    color: white;
    border: none;
    float: right;
}