.form-control {
    padding: 10px;
    margin-right: 20px;
}

.form-control.last {
    margin-right: 0px;
}

.loginForm {
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit-button {
    background-color: #B56B07;
    color: white;
    border: none;
    float: right;
}

.col-flex-8 {
    flex: 0.667 1 auto; /* 2/3 */
}

.col-flex-4 {
    flex: 0.333 1 auto; /* 1/3 */
}